<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title> tic tac toe </title>
<style>
  * {margin: 0; padding: 0; box-sizing: border-box;}
  body{font-family: 'helvetica'}
</style>
</head>
<body>
  <div style="display: flex; justify-content: space-between;">
    <div style="max-width: 1202px;"><canvas id="canvasTag" width="1200" height="660" style="border: 1px solid grey;box-shadow: 2px 0.5px 5px lightgrey;"></canvas></div>
    <div style="display: flex; flex-flow: column;box-shadow: 1px 5px 5px rgb(92, 82, 82); padding: 2%; min-width: 150px;background-color: white">
      <span onclick="change_color('red')" style="cursor: pointer; margin: 8% 0%; text-align: center;text-decoration: none; border-radius: 5px;background-color: red; color: white; padding: 2% 15%; height: 35px;">  </span>
      <span onclick="change_color('blue')" style="cursor: pointer; margin: 8% 0%; text-align: center;text-decoration: none; border-radius: 5px;background-color: blue; color: white; padding: 2% 15%; height: 35px;">  </span>
      <span onclick="change_color('green')" style="cursor: pointer; margin: 8% 0%; text-align: center;text-decoration: none; border-radius: 5px;background-color: green; color: white; padding: 2% 15%; height: 35px;">  </span>
      <span onclick="change_color('magenta')" style="cursor: pointer; margin: 8% 0%; text-align: center;text-decoration: none; border-radius: 5px;background-color: magenta; color: white; padding: 2% 15%; height: 35px;">  </span>
      <span onclick="change_color('black')" style="cursor: pointer; margin: 8% 0%; text-align: center;text-decoration: none; border-radius: 5px;background-color: black; color: white; padding: 2% 15%; height: 35px;">  </span>
      <span onclick="change_color('yellow')" style="cursor: pointer; margin: 8% 0%; text-align: center;text-decoration: none; border-radius: 5px;background-color: yellow; color: white; padding: 2% 15%; height: 35px;">  </span>
      <br /><br /><br /><br /><br /><br />
      
      <a href="" style="text-align: center;text-decoration: none; border-radius: 5px;background-color: blue; color: white; padding: 10% 15%;"> wipe all </a>
    </div>
  </div>
  
<script src="socket.io/socket.io.js"></script>
<script>
  let socket = io();
  let canvas = document.querySelector("#canvasTag");
  let ctx = canvas.getContext("2d");
  let drawing = false;
  let current = { color: 'red' };
  
  function change_color(color12){
    current.color = color12;
  }
  
  
  canvas.addEventListener("mousedown", (e) => {
    drawing = true;
    current.x = e.clientX;
    current.y = e.clientY;
    console.log("hello  comp= ", current);
    
  });
  canvas.addEventListener("mouseup", () => { drawing = false; });
  
  // for mobile devices
  canvas.addEventListener("touchstart", (e) => {
    console.log(e);
    drawing = true;
    current.x = e.clientX || e.targetTouches[0].clientX;
    current.y = e.clientY || e.targetTouches[0].clientY;
    console.log(current);
  });
  canvas.addEventListener("touchend", () => { drawing = false; });
  
  socket.on("message" , (data) => {
    console.log(data);
  });
  socket.on("drawingnew", (x0, y0, x1, y1, color) => { drawLine(x0, y0, x1, y1, color); });
  
  function drawLine(x0, y0, x1, y1, color) {
    
    console.log(x0, y0, x1, y1, color);
    ctx.beginPath();
    ctx.moveTo(x0, y0);
    ctx.lineTo(x1, y1);
    ctx.strokeStyle = color;
    ctx.lineWidth = 3;
    ctx.stroke();
    ctx.closePath();
  };
  
  canvas.addEventListener("mousemove", (e) => {
    if(drawing){
      drawLine(current.x, current.y, e.clientX, e.clientY, current.color);
      socket.emit("drawing", current.x, current.y, e.clientX, e.clientY, current.color);
      current.x = e.clientX;
      current.y = e.clientY;
    }
  });
  
  canvas.addEventListener("touchmove", (e) => {
    if(drawing){
      drawLine(current.x, current.y, e.clientX || e.targetTouches[0].clientX, e.clientY || e.targetTouches[0].clientY, current.color);
      socket.emit("drawing", current.x, current.y, e.clientX || e.targetTouches[0].clientX, e.clientY || e.targetTouches[0].clientY, current.color);
      current.x = e.clientX || e.targetTouches[0].clientX;
      current.y = e.clientY || e.targetTouches[0].clientY;
    }
  });
  
</script>
</body>
</html>